@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --md-sys-color-primary: 126 0 2;
        --md-sys-color-surface-tint: 186 25 18;
        --md-sys-color-on-primary: 255 255 255;
        --md-sys-color-primary-container: 187 26 19;
        --md-sys-color-on-primary-container: 255 255 255;
        --md-sys-color-secondary: 56 0 2;
        --md-sys-color-on-secondary: 255 255 255;
        --md-sys-color-secondary-container: 109 16 15;
        --md-sys-color-on-secondary-container: 255 179 170;
        --md-sys-color-tertiary: 122 89 0;
        --md-sys-color-on-tertiary: 255 255 255;
        --md-sys-color-tertiary-container: 255 195 62;
        --md-sys-color-on-tertiary-container: 77 54 0;
        --md-sys-color-error: 186 26 26;
        --md-sys-color-on-error: 255 255 255;
        --md-sys-color-error-container: 255 218 214;
        --md-sys-color-on-error-container: 65 0 2;
        --md-sys-color-background: 255 248 247;
        --md-sys-color-on-background: 39 23 21;
        --md-sys-color-surface: 255 248 247;
        --md-sys-color-on-surface: 39 23 21;
        --md-sys-color-surface-variant: 255 218 213;
        --md-sys-color-on-surface-variant: 92 64 60;
        --md-sys-color-outline: 144 111 107;
        --md-sys-color-outline-variant: 229 190 184;
        --md-sys-color-shadow: 0 0 0;
        --md-sys-color-scrim: 0 0 0;
        --md-sys-color-inverse-surface: 62 44 41;
        --md-sys-color-inverse-on-surface: 255 237 234;
        --md-sys-color-inverse-primary: 255 180 169;
        --md-sys-color-primary-fixed: 255 218 213;
        --md-sys-color-on-primary-fixed: 65 0 0;
        --md-sys-color-primary-fixed-dim: 255 180 169;
        --md-sys-color-on-primary-fixed-variant: 147 0 3;
        --md-sys-color-secondary-fixed: 255 218 214;
        --md-sys-color-on-secondary-fixed: 65 0 2;
        --md-sys-color-secondary-fixed-dim: 255 180 171;
        --md-sys-color-on-secondary-fixed-variant: 133 34 30;
        --md-sys-color-tertiary-fixed: 255 222 163;
        --md-sys-color-on-tertiary-fixed: 38 25 0;
        --md-sys-color-tertiary-fixed-dim: 254 187 8;
        --md-sys-color-on-tertiary-fixed-variant: 93 66 0;
        --md-sys-color-surface-dim: 241 211 207;
        --md-sys-color-surface-bright: 255 248 247;
        --md-sys-color-surface-container-lowest: 255 255 255;
        --md-sys-color-surface-container-low: 255 240 238;
        --md-sys-color-surface-container: 255 233 230;
        --md-sys-color-surface-container-high: 255 226 221;
        --md-sys-color-surface-container-highest: 250 220 215;
    }
    .dark {
        --md-sys-color-primary: 255 180 169;
        --md-sys-color-surface-tint: 255 180 169;
        --md-sys-color-on-primary: 105 0 1;
        --md-sys-color-primary-container: 149 0 3;
        --md-sys-color-on-primary-container: 255 217 211;
        --md-sys-color-secondary: 255 180 171;
        --md-sys-color-on-secondary: 101 9 10;
        --md-sys-color-secondary-container: 74 0 3;
        --md-sys-color-on-secondary-container: 255 137 126;
        --md-sys-color-tertiary: 255 231 191;
        --md-sys-color-on-tertiary: 64 45 0;
        --md-sys-color-tertiary-container: 246 181 0;
        --md-sys-color-on-tertiary-container: 66 46 0;
        --md-sys-color-error: 255 180 171;
        --md-sys-color-on-error: 105 0 5;
        --md-sys-color-error-container: 147 0 10;
        --md-sys-color-on-error-container: 255 218 214;
        --md-sys-color-background: 30 15 13;
        --md-sys-color-on-background: 250 220 215;
        --md-sys-color-surface: 30 15 13;
        --md-sys-color-on-surface: 250 220 215;
        --md-sys-color-surface-variant: 92 64 60;
        --md-sys-color-on-surface-variant: 229 190 184;
        --md-sys-color-outline: 171 137 131;
        --md-sys-color-outline-variant: 92 64 60;
        --md-sys-color-shadow: 0 0 0;
        --md-sys-color-scrim: 0 0 0;
        --md-sys-color-inverse-surface: 250 220 215;
        --md-sys-color-inverse-on-surface: 62 44 41;
        --md-sys-color-inverse-primary: 186 25 18;
        --md-sys-color-primary-fixed: 255 218 213;
        --md-sys-color-on-primary-fixed: 65 0 0;
        --md-sys-color-primary-fixed-dim: 255 180 169;
        --md-sys-color-on-primary-fixed-variant: 147 0 3;
        --md-sys-color-secondary-fixed: 255 218 214;
        --md-sys-color-on-secondary-fixed: 65 0 2;
        --md-sys-color-secondary-fixed-dim: 255 180 171;
        --md-sys-color-on-secondary-fixed-variant: 133 34 30;
        --md-sys-color-tertiary-fixed: 255 222 163;
        --md-sys-color-on-tertiary-fixed: 38 25 0;
        --md-sys-color-tertiary-fixed-dim: 254 187 8;
        --md-sys-color-on-tertiary-fixed-variant: 93 66 0;
        --md-sys-color-surface-dim: 30 15 13;
        --md-sys-color-surface-bright: 72 53 50;
        --md-sys-color-surface-container-lowest: 24 10 8;
        --md-sys-color-surface-container-low: 39 23 21;
        --md-sys-color-surface-container: 44 27 25;
        --md-sys-color-surface-container-high: 55 38 35;
        --md-sys-color-surface-container-highest: 67 48 45;
    }
    body {
        @apply bg-[#fff8f7] dark:bg-[#1e0f0d] text-[#1e0f0d] dark:text-[#fff8f7];
    }
}
