name: release-please

on:
    push:
        branches:
            - main

permissions:
    contents: write
    pull-requests: write

jobs:
    release-please:
        runs-on: ubuntu-latest
        steps:
            - name: Harden Runner
              uses: step-security/harden-runner@v2.10.2
              with:
                  egress-policy: audit

            - uses: googleapis/release-please-action@v4
              with:
                  release-type: node
                  target-branch: ${{ github.ref_name }}
                  token: ${{ secrets.GH_RELEASE_DRAFT }}
